<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYF9KVDjJNSRgpQO5NxQ94zbldQf1Fm7w</string>
	<key>GCM_SENDER_ID</key>
	<string>800511281964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pesu.AnandaAI</string>
	<key>PROJECT_ID</key>
	<string>anandaai</string>
	<key>STORAGE_BUCKET</key>
	<string>anandaai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800511281964:ios:71df3fd836c0a3b9227a89</string>
</dict>
</plist>